

<main class="container">
  <div class="row">
    <section class="col-8">
      {{ #post }}
        <article class="entry">
          <h2>{{ title }}</h2>
          <time datetime="{{ published_on }}">First published {{ published_on }}.</time> {{ #last_updated }}<time datetime="{{ last_updated }}">Updated {{ last_updated }}</time>{{ /last_updated }}
          {{{ content }}}
        </article>
      {{ /post }}
    </section>
    <aside class="col-4">
      {{ #author }}
        <div class="sidebar">
          <h3>About this site</h3>
          <p>{{ bio }}</p>
        </div>
      {{ /author }}
      {{ #has_categories }}
        <div class="sidebar">
          <h3>Categories</h3>
          <ul>
            {{ #categories }}
              <li><a href="/category/{{ id }}">{{ name }}</a></li>
            {{ /categories }}
          </ul>
        </div>
      {{ /has_categories }}
    </aside>
  </div>
</main>
