<main class="container">
  {{#posts.0}}
    <section class="row">
      <div class="col-12">
        <div class="notification message">
          <p>
            <strong>Latest post on {{published_on}}:</strong> <em>{{title}}</em>
          </p>
        </div>
      </div>
    </section>
  {{/posts.0}}
  <section class="row">
    <div class="col-4">
      <div class="widget dash">
        <h2>Pending Subscribers' Posts</h2>
        <p class="hug">Something</p>
      </div>

      <div class="widget dash">
        <h2>Pending Subscription Posts</h2>
        <p class="hug">Something</p>
      </div>
    </div>

    <div class="col-4">
      <div class="widget dash">
        <h2>Subscriber Requests</h2>
        <p class="hug">Something</p>
      </div>

      <div class="widget dash">
        <h2>Subscription Requests</h2>
        <p class="hug">Something</p>
      </div>
    </div>

    <div class="col-4">
      <div class="widget dash">
        <h2>xxx</h2>
        <p class="hug">Something</p>
      </div>
    </div>
  </section>
</main>
